.about__container {
  margin: 40px auto;
  margin-bottom: 42px;

  @media (min-width: $tablet-min-width) {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 35px;
    display: grid;
    grid-template-rows: auto 260px auto;
  }

  @media (min-width: $tablet-max-width) {
    text-align: left;
    margin: 120px auto 125px;
    width: 1160px;
    grid-template-columns: auto 55px auto;
    grid-template-rows: 265px auto;
    gap: 20px;
    justify-content: space-between;
  }
}

.about__text-wrapper {
  @include font($family: $primary-font, $size: 14px, $height: 22px, $weight: 300, $style: normal, $color: $accent-color);

  max-width: 290px;
  margin: 0 auto;
  margin-bottom: 28px;

  @media (min-width: $tablet-min-width) {
    max-width: 505px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $tablet-max-width) {
    max-width: 355px;
    grid-row: 1/-1;
  }

  p:not(:first-of-type) {
    margin: 0;
    padding: 0;
  }

  p:not(:first-of-type):not(:last-of-type) {
    padding-bottom: 8px;
  }

  p:nth-child(3n+1) {
    display: none;

    @media (min-width: $tablet-max-width) {
      display: block;
    }
  }
}

.about__title {
  text-align: left;
  margin-bottom: 12px;

  @media (min-width: $tablet-min-width) {
    text-align: center;
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-max-width) {
    margin-bottom: 25px;
    text-align: left;
  }
}

.about__subtitle {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 36px;
  padding: 0;

  @media (min-width: $tablet-min-width) {
    font-size: 20px;
  }

  @media (min-width: $tablet-max-width) {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 95px;
  }
}

.about__img-wrapper {
  line-height: 0;
  margin-bottom: 36px;

  @media (min-width: $tablet-min-width) {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-max-width) {
    grid-column: -2/-1;
    grid-row: 1/2;
  }
}
