.button {
  text-decoration: none;

  @include font($family: $primary-font, $size: 12px, $height: 12px, $weight: 700, $style: normal, $color: $white-color);

  text-transform: uppercase;

  @include flex-box($flex-direction: row, $justify-content: center);

  width: 290px;
  padding: 24px 0;
  box-shadow: inset 0 0 0 2px $white-color;
  transition: color, background-color, box-shadow, 1s;

  @media (min-width: $tablet-min-width) {
    width: 185px;
    padding: 22px 0;
    margin-bottom: 1px;
  }

  @media (min-width: $tablet-max-width) {
    width: 270px;
    padding: 27px 56px;
  }

  &:hover {
    background-color: $white-color;
    color: $primary-color;
  }

  &:focus,
  &:focus-visible {
    background-color: rgba(255, 255, 255, 0.8);
    color: $primary-color;
    box-shadow: inset 0 0 0 2px #000000;
    outline: none;
  }

  &:active {
    background-color: $white-color;
    color: $accent-color;
  }

  &:disabled,
  &--disabled {
    opacity: 0.5;
  }
}
