.header {
  padding: 13px 15px;

  @include flex-box($flex-direction: row, $justify-content: space-between, $align-items: flex-start);

  @media (min-width: $tablet-min-width) {
    padding: 31px 45px 27px;
    margin-bottom: 0;
  }

  @media (min-width: $tablet-max-width) {
    padding: 30px 103px;
    align-items: center;
  }
}

.header__link {
  @include font($family: $primary-font, $size: 22px, $height: 22px, $weight: 700, $style: normal, $color: $white-color);

  text-decoration: none;
  transition: color, text-decoration, 0.5s;
  cursor: pointer;

  @media (min-width: $tablet-min-width) {
    font-size: 24px;
    line-height: 22px;
    margin-top: 0;
  }

  @media (min-width: $tablet-max-width) {
    font-size: 26px;
    line-height: 26px;
  }

  &:hover {
    color: rgba(28, 51, 116, 0.5);
  }

  &:focus,
  &:focus-visible {
    outline: none;
    color: $background-color;
  }

  &:active {
    color: $accent-color;
    text-decoration: underline;
  }

  &:disabled {
    cursor: none;
    color: $secondary-white;
  }
}
