.page {
  height: 100%;
}

.page__body {
  font-family: $primary-font;
  color: $accent-color;
  font-size: 14px;
  line-height: 22px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}