$primary-font: "Roboto Condensed", "Arial", sans-serif;
$secondary-font: "Alumni Sans", "Arial", sans-serif;

$accent-color: #102654;
$white-color: #ffffff;
$secondary-white: #F8F9FC;

$dark-color: #030A1A;

$primary-color: #103AAE;
$secondary-color: #ED0233;
$background-color: #1C3374;
$error-color: #FF121F;

$primary-gradient: linear-gradient(90deg, #1C3477 0%, #1C3477 0.01%, #1A3578 39.11%, #73184B 75.5%, #B4022A 100%);

$tablet-min-width: 768px;
$tablet-max-width: 1365px;
$desktop-max-width: 1366px;
$mobile-min-width: 320px;
$mobile-max-width: 767px;